# fly.toml file generated for bytehackz-2022-bot on 2022-11-07T06:48:48Z

app = "bytehackz-2022-bot"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

# For some reason this does not work
# So all env vars are set in secrets

[env]
  MAX_TICKETS = 5
  LOGGING_LEVEL = 10

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  tcp_checks = []
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443